@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AboutPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introductionContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.introductionContainer h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
}

.introductionContainer p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1rem;
}

.VisionContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.VisionContainer h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
}

.VisionContainer p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1rem;
}